.btn {
  @apply px-4 py-2 rounded-md flex items-center justify-center shadow-md cursor-pointer;

  &-primary {
    @apply bg-blue-500 text-white text-sm font-medium;
  }

  &-danger {
    @apply bg-red-500 text-white text-sm font-medium;
  }
}
