:root {
  --vs-colors--lightest: rgba(60, 60, 60, 0.26);
  --vs-colors--light: rgba(60, 60, 60, 0.5);
  --vs-colors--dark: #333;
  --vs-colors--darkest: rgba(0, 0, 0, 0.15);
  --vs-search-input-color: inherit;
  --vs-search-input-placeholder-color: inherit;
  --vs-font-size: 1rem;
  --vs-line-height: 1.4;
  --vs-state-disabled-bg: #f8f8f8;
  --vs-state-disabled-color: var(--vs-colors--light);
  --vs-state-disabled-controls-color: var(--vs-colors--light);
  --vs-state-disabled-cursor: not-allowed;
  --vs-border-color: var(--vs-colors--lightest);
  --vs-border-width: 1px;
  --vs-border-style: solid;
  --vs-border-radius: 4px;
  --vs-actions-padding: 4px 6px 0 3px;
  --vs-controls-color: var(--vs-colors--light);
  --vs-controls-size: 1;
  --vs-controls--deselect-text-shadow: 0 1px 0 #fff;
  --vs-selected-bg: #f0f0f0;
  --vs-selected-color: var(--vs-colors--dark);
  --vs-selected-border-color: var(--vs-border-color);
  --vs-selected-border-style: var(--vs-border-style);
  --vs-selected-border-width: var(--vs-border-width);
  --vs-dropdown-bg: #fff;
  --vs-dropdown-color: inherit;
  --vs-dropdown-z-index: 1000;
  --vs-dropdown-min-width: 160px;
  --vs-dropdown-max-height: 350px;
  --vs-dropdown-box-shadow: 0px 3px 6px 0px var(--vs-colors--darkest);
  --vs-dropdown-option-bg: #000;
  --vs-dropdown-option-color: var(--vs-dropdown-color);
  --vs-dropdown-option-padding: 3px 20px;
  --vs-dropdown-option--active-bg: #5897fb;
  --vs-dropdown-option--active-color: #fff;
  --vs-dropdown-option--deselect-bg: #fb5858;
  --vs-dropdown-option--deselect-color: #fff;
  --vs-transition-timing-function: cubic-bezier(1, -0.115, 0.975, 0.855);
  --vs-transition-duration: 150ms;
}
.v-select {
  font-family: inherit;
  position: relative;
}
.v-select,
.v-select * {
  box-sizing: border-box;
}
:root {
  --vs-transition-timing-function: cubic-bezier(1, 0.5, 0.8, 1);
  --vs-transition-duration: 0.15s;
}
@-webkit-keyframes vSelectSpinner {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes vSelectSpinner {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
.vs__fade-enter-active,
.vs__fade-leave-active {
  pointer-events: none;
  transition: opacity var(--vs-transition-duration) var(--vs-transition-timing-function);
}
.vs__fade-enter,
.vs__fade-leave-to {
  @apply opacity-0;
}
:root {
  --vs-disabled-bg: var(--vs-state-disabled-bg);
  --vs-disabled-color: var(--vs-state-disabled-color);
  --vs-disabled-cursor: var(--vs-state-disabled-cursor);
}
.vs--disabled .vs__clear,
.vs--disabled .vs__dropdown-toggle,
.vs--disabled .vs__open-indicator,
.vs--disabled .vs__search,
.vs--disabled .vs__selected {
  background-color: var(--vs-disabled-bg);
  cursor: var(--vs-disabled-cursor);
}
.v-select[dir='rtl'] .vs__actions {
  @apply pr-2;
}
.v-select[dir='rtl'] .vs__clear {
  margin-left: 6px;
  margin-right: 0;
}
.v-select[dir='rtl'] .vs__deselect {
  margin-left: 0;
  margin-right: 2px;
}
.v-select[dir='rtl'] .vs__dropdown-menu {
  text-align: right;
}
.vs__dropdown-toggle {
  @apply flex items-center border border-gray-200 rounded-md p-0 whitespace-normal bg-none appearance-none;

  &:hover {
    @apply border border-blue-200;
  }
}
.vs__selected-options {
  @apply flex items-center flex-wrap flex-1 relative px-2 py-1;
}
.vs__actions {
  @apply flex items-center py-0 pl-0 pr-2;
}
.vs--searchable .vs__dropdown-toggle {
  @apply cursor-text;
}
.vs--unsearchable .vs__dropdown-toggle {
  @apply cursor-pointer;
}
.vs--open .vs__dropdown-toggle {
  @apply rounded-bl-none border border-blue-300;
}
.vs__open-indicator {
  transform: scale(var(--vs-controls-size));
  transition: transform var(--vs-transition-duration) var(--vs-transition-timing-function);
  transition-timing-function: var(--vs-transition-timing-function);
  @apply fill-gray-400;
}
.vs--open .vs__open-indicator {
  transform: rotate(180deg) scale(var(--vs-controls-size));
  @apply fill-blue-500;
}
.vs--loading .vs__open-indicator {
  @apply opacity-0;
}
.vs__clear {
  @apply fill-red-500 border-0 cursor-pointer mr-2 bg-transparent p-0;
}
.vs__dropdown-menu {
  max-height: var(--vs-dropdown-max-height);
  @apply block bg-white absolute left-0 m-0 overflow-y-auto p-0 top-full w-full text-left shadow-none rounded-b-md rounded-t-none border border-blue-300 list-none z-50 box-border;
}
.vs__no-options {
  @apply text-center;
}
.vs__dropdown-option {
  color: var(--vs-dropdown-option-color);
  @apply block whitespace-nowrap px-2 py-1 text-sm font-medium cursor-pointer;
}
.vs__dropdown-option--highlight {
  @apply text-white bg-blue-500;
}
.vs__dropdown-option--deselect {
  @apply text-white bg-red-500;
}
.vs__dropdown-option--disabled {
  background: var(--vs-state-disabled-bg);
  color: var(--vs-state-disabled-color);
  cursor: var(--vs-state-disabled-cursor);
}
.vs__selected {
  @apply flex items-center z-0 px-2 py-1 bg-blue-500 text-white font-medium text-sm border-0 m-0 rounded-md;
}
.vs__deselect {
  @apply fill-white cursor-pointer inline-flex ml-2 p-0 border-0 bg-none appearance-none;
}
.vs--single .vs__selected {
  @apply bg-transparent border-transparent;
}
.vs--single.vs--loading .vs__selected,
.vs--single.vs--open .vs__selected {
  @apply absolute opacity-5;
}
.vs--single.vs--searching .vs__selected {
  @apply hidden;
}
.vs__search::-webkit-search-cancel-button {
  @apply hidden;
}
.vs__search::-ms-clear,
.vs__search::-webkit-search-decoration,
.vs__search::-webkit-search-results-button,
.vs__search::-webkit-search-results-decoration {
  @apply hidden;
}
.vs__search,
.vs__search:focus {
  color: var(--vs-search-input-color);
  z-index: 1;
  margin: 0!important;
  @apply text-sm px-2 py-1 border-0 max-w-full w-0 shadow-none bg-none appearance-none outline-0 grow;
}
.vs__search::-moz-placeholder {
  color: var(--vs-search-input-placeholder-color);
}
.vs__search:-ms-input-placeholder {
  color: var(--vs-search-input-placeholder-color);
}
.vs__search::placeholder {
  color: var(--vs-search-input-placeholder-color);
}
.vs--unsearchable .vs__search {
  @apply opacity-100;
}
.vs--unsearchable:not(.vs--disabled) .vs__search {
  @apply cursor-pointer;
}
.vs--single.vs--searching:not(.vs--open):not(.vs--loading) .vs__search {
  @apply opacity-20;
}
.vs__spinner {
  -webkit-animation: vSelectSpinner 1.1s linear infinite;
  animation: vSelectSpinner 1.1s linear infinite;
  border: 0.9em solid hsla(0, 0%, 39%, 0.1);
  border-left-color: rgba(60, 60, 60, 0.45);
  font-size: 5px;
  text-indent: -9999em;
  transform: translateZ(0) scale(var(--vs-controls--spinner-size, var(--vs-controls-size)));
  transition: opacity 0.1s;
  @apply opacity-0 self-center overflow-hidden;
}
.vs__spinner,
.vs__spinner:after {
  height: 5em;
  transform: scale(var(--vs-controls--spinner-size, var(--vs-controls-size)));
  width: 5em;
  @apply rounded-full;
}
.vs--loading .vs__spinner {
  @apply opacity-100;
}
